<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
      <H1>States</H1>
      <UL>
	        {% for k, v in state|dictsort(false, 'value') %}
		<LI>
		  {{ k }}: <B>{{ v }}</B>
		  <UL>
		    {% for kc, vc in city.items() -%}
		    {% for f in vc | sort(attribute='name') -%}
		    {% if f.state_id == k %}
                    <LI>{{ f.id }}: <B>{{ f.name }}</B></LI>
		    {% endif %}
		    {%- endfor %}
		    {%- endfor %}
                    </UL>
		  </LI>
		{% endfor %}
		</UL>
    </BODY>
</HTML>
