<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
	  {% for values in states %}
            <LI>{{ values[0] }}: <B>{{ values[1] }}</B>
	        <UL>
		  {% for city in cities -%}
		  {% for ciudad in cities[city] | sort(attribute='name') -%}
		  {% if city == values[0] %}
		        <LI>{{ ciudad.id }}: <B>{{ ciudad.name }}</B>
		  {% endif %}
		  {%- endfor %}
		  {%- endfor %}
		</UL>
	    </LI>
	    {% endfor %}
        </UL>
    </BODY>
</HTML>
